.container {
  padding: 1rem;
  position: relative;
}

.backButton {
  /* position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem); */
  font-weight: 700;
}

@media screen and (max-width: 430px) {
  .container {
    max-width: 100%;
    margin: auto 24px;
    padding: 0px;
  }
}

.appointments {
  /* overflow-x: scroll;
  height: calc(100vh - 1rem - 3rem - 3.5rem); */
}