.container {
  padding: 1rem 0px;
  background: #F7F7F7;
  border-radius: 9px;
  margin: 2rem auto;
  max-width: 360px;
}

.topButtons,
.bottomButtons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.content {
  display: flex;
  gap: 10px;
  margin: 2rem 0px;
  font-size: 14px;
  justify-content: space-around;
}

.content div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: center;
}

.content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
}

.content img {
  width: 84px;
}

.docName {
  color: #E97000;
}

@media screen and (max-width: 430px) {
  .container {
    max-width: 100%;
    margin: 2rem 0px;
  }
}